* {
    /*border: 0.1px solid black;*/
}
body {
    background-color: wheat;
}
#Title {
    font-size: 30px; 
    text-align: center; 
    margin-bottom: 20px; 
    font-family: 'Arial', sans-serif; 
    color: #333; 
    background: linear-gradient(45deg, #ff6b6b, #292504); 
    -webkit-background-clip: text; /* Clip the background to the text */
    -webkit-text-fill-color: transparent; /* Make the text transparent to show the gradient */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Add shadow for depth */
    letter-spacing: 1.5px; /* Space out letters */
    transition: transform 0.3s ease; /* Smooth transition for hover effects */
}

.intro-image {
    width: 40%;
    height: 40%;
}
#vslogo {
    margin: 5px;
}
#intro {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
}
#start{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#startButton {
    width: auto; /* Adjust width for better appearance */
    padding: 10px 20px; /* Add padding for better size and shape */
    border: none; /* Remove default border */
    border-radius: 5px; /* Round the corners */
    font-size: 16px; /* Keep font size */
    color: white; /* Text color */
    background: linear-gradient(45deg, #6b73ff, #000dff); /* Gradient background */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
    cursor: pointer; /* Change cursor to pointer */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
}
#startButton:hover {
    background: linear-gradient(45deg, #000dff, #6b73ff); /* Reverse gradient on hover */
    transform: translateY(-2px); /* Slight lift effect on hover */
}
#footnote {
    display: flex;
    justify-content: center;
    align-items: baseline;
}
#startButton a {
    color: inherit;
    background: none;
    text-decoration: none;
    font: inherit;
    border: none;
    padding: 0;
    margin: 0;
    cursor: inherit;
    display: inline;
}
@media only screen and (max-width: 600px) {
    #Title {
        font-size: 24px; /* Decrease font size for smaller screens */
        letter-spacing: 1px; /* Adjust letter spacing */
        margin-bottom: 10px; /* Reduce bottom margin */
    }

    .intro-image {
        width: 30%; /* Adjust image size for smaller screens */
        height: auto; /* Maintain aspect ratio */
    }

    #startButton {
        font-size: 14px; /* Decrease font size for smaller screens */
        padding: 8px 16px; /* Adjust padding */
    }
}